<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ignition.location" android:versionCode="1"
    android:versionName="0.1">

    <uses-sdk android:minSdkVersion="4" />

    <!-- add all the following permissions to your project. They are necessary in order for the ignition-location 
        library to work -->

<!--     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
<!--     <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
<!--     <uses-permission android:name="android.permission.INTERNET" /> -->
<!--     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
<!--     <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->

    <application>
    
    <!-- add all the following receivers to your project. They are necessary in order for the ignition-location 
        library to work -->

<!--         <receiver -->
<!--             android:name="com.github.ignition.location.receivers.IgnitedPassiveLocationChangedReceiver" /> -->
<!--         <receiver -->
<!--             android:name="com.github.ignition.location.receivers.ConnectivityChangedReceiver" -->
<!--             enabled="false"> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->
<!--         <receiver -->
<!--             android:name="com.github.ignition.location.receivers.PowerStateChangedReceiver"> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.BATTERY_LOW" /> -->
<!--                 <action android:name="android.intent.action.BATTERY_OKAY" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->
<!--         <receiver android:name="com.github.ignition.location.receivers.BootReceiver"> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->

    </application>

</manifest>