[submodule "ignition-support"]
	path = ignition-support
	url = git@github.com:kaeppler/ignition-support.git
[submodule "ignition-ui"]
	path = ignition-ui
	url = git@github.com:kaeppler/ignition-ui.git
[submodule "ignition-cache"]
	path = ignition-cache
	url = git@github.com:kaeppler/ignition-cache.git
[submodule "ignition-http"]
	path = ignition-http
	url = git@github.com:kaeppler/ignition-http.git
